

.aco_wrap {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 20px;

    .tit {
        color: #e7e7e7;
        font-weight: 500;
        margin-bottom: 10px;
        display: block;
    }

    ul > li {
        margin-top: 8px;
        
        a {
            display: inline-block;
            color: #9a9a9a;
            font-size: 1.3rem;
            &:hover {
                color: #b5b5b5;
                // transform: translateY(-1px);
            }
        }
        
    }
}





@include mobile {
    .g_inner.accordion_mo.type1.pd_none {
        margin-bottom: 0px;
        .aco_wrap {
            margin-top:0;
            margin-bottom: 40px;
        }
    } 
    

       // 모바일만
   .accordion_mo {

    .item.con_none {
        .aco_wrap {
            & > .acco_head {
                &::after {content: none;}
                &::before {content: none;}
            }
        }
    }

    .aco_wrap {
        width: 100%;
        margin-top: 0;
        padding: 0;

        & > .acco_head {
            display: flex;
            align-items: center;
            padding: 15px 0;
            width: 100%;
            position: relative;


            .tit {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                display: block;
                width: 8px;
                height: 1px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background-color: #fff;
                transform: rotate(-45deg);
            }

            &::before {
                content: '';
                display: block;
                width: 8px;
                height: 1px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 5px;
                background-color: #fff;
                transform: rotate(45deg);
            }
            
        }
    }
    .acco_head.on {
        &::after {
            content: '';
            display: block;
            width: 8px;
            height: 1px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-color: #fff;
            transform: rotate(-135deg);
        }

        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 1px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 5px;
            background-color: #fff;
            transform: rotate(135deg);
        }
    }


    
    .acco_body.on {
        display: block;
    }
    .acco_body {
        display: none;
        margin-bottom: 30px;
    }
}


    .g_inner.accordion_mo.type1.pd_none {
        .aco_wrap {
            margin-bottom: 0px;
        }
        // .item:last-child {
        //     padding: 20px 0;
        // }
    } 

    
}
