.btn_wrap {
    display: block;
    position: relative;

    &.align_l {
        text-align: left;
    }
    
    &.align_r {
        text-align: right;
    }

    &.align_c {
        text-align: center;
    }
}


.btn {
    display: inline-block;
    position: relative;
    // height: 56px;
    padding: 15px 48px;
    border: 1px solid transparent;
    border-radius: $btn_radius;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    // line-height: 54px;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
}


// color
.btn.blue {
    background: $blue;
    color: $white;
}

.btn.gray {
    background-color: $light_gray;
    color: $con_1;
}


.btn.line {
    background-color: transparent;
    border: 1px solid $gray;
    color: $con_1;
}

.btn.black {
    background-color: $black;
    color: $white;
}




// status
.btn:disabled, 
.btn.disabled {
    background-color: $light_gray;
    color: $disabled;
    cursor: not-allowed;
}






// size
.btn.small {
    padding: 10px 40px;
    // height: 30px;
    background-color: $blue;
    border-radius: $btn_radius;
    font-size: 1.3rem;
}

.btn.middle {
    padding: 12px 50px;
    background-color: $blue;
    border-radius: $btn_radius;
}

.btn.big {
    padding: 20px 70px;
    background-color: $blue;
    border-radius: $btn_radius;
}







@include mobile {
    .btn {
        width: 100%;
    }
}








