@charset "utf-8";



// Spoqa Han Sans Neo
@font-face{
	font-family: 'SpoqaHanSans';
	src: local('SpoqaHanSans'),
	    url('../../assets/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'SpoqaHanSans';
	src: local('SpoqaHanSans'),
	    url('../../assets/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'SpoqaHanSans';
	src: local('SpoqaHanSans'),
	    url('../../assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'SpoqaHanSans';
	src: local('SpoqaHanSans'),
	    url('../../assets/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'SpoqaHanSans';
	src: local('SpoqaHanSans'),
	    url('../../assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display:swap;
}

// Genesis Sans Head
@font-face{
	font-family: 'GenesisSansKR';
	src: local('GenesisSansKR'),
	    url('../../assets/fonts/GenesisSansHeadKRLight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'GenesisSansKR';
	src: local('GenesisSansKR'),
        url('../../assets/fonts/GenesisSansHeadKRRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display:swap;
}
@font-face{
	font-family: 'GenesisSansKR';
	src: local('GenesisSansKR'),
        url('../../assets/fonts/GenesisSansHeadOffice-Regular.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display:swap;
}




// Genesis Sans
// text
// @font-face{
// 	font-family: 'GenesisSansKR';
// 	src: local('GenesisSansKR'),
// 	    url('../../assets/fonts/GenesisSansTextOffice-Regular.woff2') format('woff2');
// 	font-weight: 200;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'GenesisSansKR';
// 	src: local('GenesisSansKR'),
// 	    url('../../assets/fonts/GenesisSansTextKRRegular.woff2') format('woff2');
// 	font-weight: 300;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'GenesisSansKR';
// 	src: local('GenesisSansKR'),
// 	    url('../../assets/fonts/GenesisSansTextKRMedium.woff2') format('woff2');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display:swap;
// }

// // head
// @font-face{
// 	font-family: 'GenesisSansKR';
// 	src: local('GenesisSansKR'),
// 	    url('../../assets/fonts/GenesisSansHeadKRLight.woff2') format('woff2');
// 	font-weight: 500;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'GenesisSansKR';
// 	src: local('GenesisSansKR'),
//         url('../../assets/fonts/GenesisSansHeadKRRegular.woff2') format('woff2');
// 	font-weight: 600;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'GenesisSansKR';
// 	src: local('GenesisSansKR'),
//         url('../../assets/fonts/GenesisSansHeadOffice-Regular.woff2') format('woff2');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display:swap;
// }






// NotoSansKR
// @font-face {
// 	font-family: 'NotoSansKR';
// 	src: local('NotoSansKR'),
// 	    url('../../fonts/NotoSansKR-Thin.woff2') format('woff2');
// 	    // url('/fonts/NotoSansKR-Thin.woff') format('woff'),
// 	    // url('/fonts/NotoSansKR-Thin.woff') format('truetype'),
// 	    // url('/fonts/NotoSansKR-Thin.otf') format('truetype'),
//         // url('/fonts/NotoSansKR-Thin.eot') format('embeded-opentype');
// 	font-weight: 100;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'NotoSansKR';
// 	src: local('NotoSansKR'),
// 	    url('../../assets/fonts/NotoSansKR-Light.woff2') format('woff2');
// 	font-weight: 200;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'NotoSansKR';
// 	src: local('NotoSansKR'),
//         url('../../assets/fonts/NotoSansKR-Regular.woff2') format('woff2');
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'NotoSansKR';
// 	src: local('NotoSansKR'),
//         url('../../assets/fonts/NotoSansKR-Medium.woff2') format('woff2');
// 	font-weight: 500;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'NotoSansKR';
// 	src: local('NotoSansKR'),
//         url('../../assets/fonts/NotoSansKR-Bold.woff2') format('woff2');
// 	font-weight: 700;
// 	font-style: normal;
// 	font-display:swap;
// }
// @font-face{
// 	font-family: 'NotoSansKR';
// 	src: local('NotoSansKR'),
//         url('../../assets/fonts/NotoSansKR-Black.woff2') format('woff2');
// 	font-weight: 900;
// 	font-style: normal;
// 	font-display:swap;
// }



