#footer {
    .g_inner {
        margin-bottom: 0;
    }


    .copyright {
        padding-top: 60px;
        position: relative;
        font-size: 1.2rem;

        &::before {
            content: '';
            display: block;
            width: 100px;
            height: 50px;
            background: url('../../assets/images/main/footer-logo.png') no-repeat center/100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: .9;
        }
    } 
}


.footer_sec.share {
    background-color: #0d1117;
    color: #909090;
    padding: 20px 0;

    .g_inner {
        display: flex;
        justify-content: space-between;
    }
    ul {
        display: flex;
        align-items: center;

        li {
            font-size: 2.5rem;
            line-height: 0;
        }
        li + li {
            margin-left: 20px;
        }

        a {
            font-size: 1.7rem;
        }

        .txt {
            font-size: 1.3rem;
            color: #e7e7e7;;
        }
    }
    button {
        color: #fff;
    }
}

.footer_sec.notice {
    background-color: #080b0e;
    // padding: 20px 0;
    color: #dedede;
    
    .noti_Swiper {
        width: 100%;
        max-height: 60px;
        
        .swiper-slide {
            .noti {
                padding: 20px 0;
                display: block;   
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .swiper-button-prev {
            color: #fff;
            left: auto;
            right: 70px;
        }
    
        .swiper-button-next {
            color: #fff;
            right: 20px;
        }
    
        .swiper-button-next:after, 
        .swiper-button-prev:after {
            font-size: 12px;
        }

        .swiper-state {
            left: auto;
            right: 43px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    
            
    }

    .g_inner {
        display: flex;
        justify-content:space-between;
    }
}

.footer_sec {
    background-color: #0d1117;
}

.footer_sec.all_menu {

    padding-bottom: 60px;

    .g_inner {
        display: flex;
        flex-wrap: wrap;
        
    }

    
}




.footer_sec.mid {
    background-color: #080b0e;
    padding: 20px 0;
    ul {
        display: flex;

        a {
            color: #9a9a9a;
            font-size: 1.3rem;
            &:hover {
                color: #b5b5b5;
            }
        }
    }
}

.footer_sec.sitemap.mid {
    .g_inner {
        display: flex;
        justify-content: space-between;
        
        
    }


    .sns a {
        line-height: 0;
        font-size: 2rem;
        color: #b1b1b1;
        margin-left: 20px;
    }
}

.footer_sec.btm {
    background-color: #080b0e;
    padding: 80px 0;
    text-align: center;
    position: relative;
}







@include tablet {

    .footer_sec.sitemap.mid {
        padding: 30px 0;
        .g_inner {
            flex-wrap: wrap;
            justify-content: center;

            .item.btw_line {
                justify-content: center;
                max-width: 350px;
            }
        }

        ul {
            li {
                display: flex;
                align-items: center;
            }
        }

        .item.sns { 
            flex: 1 1 auto;
            width: 100%;
            margin-top: 20px;
            justify-content: center;

            li {
                margin-left: 5px;
            }
            li:first-child {
                a {
                    margin: 0;
                }
            }
            
        }
    }

}


@include mobile {
    .footer_sec.all_menu {
        padding: 15px 0;
    }

    #footer {
        
        .copyright::before {
            width: 80px;
        }
    }


    
.footer_sec.notice {
    
    .noti_Swiper {
        .swiper-button-prev {
            right: 32px;
        }
    
        .swiper-button-next {
            right: -10px;
        }
    
        .swiper-state {
            right: 10px;
        }

        .swiper-slide {
            .noti {
                padding: 20px 58px 20px 0px;
            }
        }
    
    }
}

   
}