
// popup 


.popup {
    display: block !important;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #090b0e;
    z-index: 100;
    .footer_sec {
        background-color: transparent;
    }

    .sub_menu {
        padding: 20px;

        li {
            > a {
                color: #fff;
                display: block;
                padding: 15px 0;
            }
            &:first-child {
                > a { padding-top: 0; }
            }
         
        }
    }

    .aco_wrap {
        margin-top: 0;
    }

    .popup_close {
        position: absolute;
        top: 0;
        left: 0;
    }
    
}


.dimd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 100%;
    z-index: 99;
    opacity: .6;
    display: none;
}

.dimd {
   display: block;
}


.popup.allmenu {
    z-index: 101;

    .popup_close {
        display: none;
    }
}

.popup.popup_full {
    width: 100vw;
    height: 100vh;
    display: block !important;
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #090b0e;
    z-index: 100;
}



.popup.auto_height {
    height: auto;
    .pupup_type1_body {
        height: auto;
        max-height: calc(100vh - 80px);
    }
}
