.g_inner.btm_0 {
    margin-bottom: 0;
}
.load_wrap {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    position: relative;

    .link {
        color: #fff;
        display: inline-block;
        margin-top: 20px;
        // text-decoration: underline;
    }
    .left {
        // background-color: rgb(94, 140, 181);
        flex: 0 0 auto;
        width: 50%;
        color: #fff;
        padding: 30px 30px 30px 50px;
        // background: url('../../assets/images/main/genesis-motorshow-guangzhou-ectrified-gv70-1920x960.jpg') no-repeat center/cover;
        background-position: center;
        background-size: cover;
        background-color: black;
        background-repeat: no-repeat;
        strong {
            font-size: 2.5rem;
            max-width: 300px;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.4rem;
            margin-top: 5px;
            max-width: 300px;
            min-height: 110px;
        }
    }

    .right {
        // background-color: rgb(61, 95, 124);
        flex: 0 0 auto;
        width: 50%;
        color: #fff;
        padding: 30px 30px 30px 50px;
        // background: url('../../assets/images/main/genesis-kr-main-genesis-events-17-desktop-1920x960-ko-2.jpg') no-repeat center/cover;
        background-color: black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        strong {
            font-size: 2.5rem;
            max-width: 300px;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.4rem;
            margin-top: 5px;
            max-width: 300px;
            min-height: 110px;
        }
    }
}




@include mobile {
    .load_wrap {
        height: 800px;
    }
    .load_wrap .left, 
    .load_wrap .right {
        padding: 20px;
        width: 100%;
        strong {
            font-size: 2rem;
        }
        p {
            min-height: 0;
        }
    }
    
}
