.evt_banner {

    padding: 60px 0 100px;
    background: black url('../../assets/images/main/genesis-ev-service-package-01-pr-center.jpg') no-repeat center/cover;
    // background: black url('../../assets/images/main/genesis-kr-highlights-g90-gallery-desktop-1920x960-ko.jpg') no-repeat center/cover;
    background-attachment: fixed;
    margin-bottom: 60px;
    
    .tit {
        color: #fff;
    }
    .txt {
        color: #fefefe;
        margin-bottom: 5px;
    }
    .link {
        color: #fff;
        display: inline-block;
        margin-top: 20px;
        // text-decoration: underline;
    }

   
}



.exper {
    .g_list.type2 {
       img:hover {
        transform: translate(10px, 10px) scale(5);
        transition: 30s;
       }
    }
}
.gall {
    .g_list.type2 {
       img:hover {
        transform: translate(10px, 10px) scale(5);
        transition: 30s;
       }
    }
}
.con {
    .g_content_img {
        overflow: hidden;
        img:hover {
            transform: translate(10px, 10px) scale(5);
            transition: 30s;
           }
    }
}



@include mobile {
    .evt_banner {
        background-attachment: inherit;
    }
}