@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');



.you_wrap {

	.sub_txt {margin-bottom: 10px;;}
	.you_head_tit {
		font-size: 2rem;
		font-weight: 400;
		display: inline-block;
		padding-left: 100px;
		position: relative;
		display: flex;
		align-items: center;
		height: 100px;

		

		&::before {
			content: '';
			display: block;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-color: #000;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 0;
		}

		&::after {
			content: '';
			background: url("../../../assets/images/main/footer-logo.png") no-repeat center/87%;
			display: block;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			position: absolute;
			top: 4px;
			bottom: 0;
			margin: auto;
			left: 0;
		}
	}
}

.youtube {
	.inner {
		.wrap {
			display: flex;
			flex-wrap: wrap;
			margin: -3px;
			article {
				flex: 0 1 auto;
				width: calc(33.3333333% - 6px);
				margin: 3px;

				
				&::after {
					
				}

				h2 {
					font-size: 1.8rem;
					min-height: 55px;
					font-weight: 400;
					// width: 300px;
					text-overflow: ellipsis;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}
				.txt {
					

					p {
						// width: 300px;
						text-overflow: ellipsis;
						overflow: hidden;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 3;
						margin-top: 5px;
						margin-bottom: 20px;
					}
					span {
						
					}
				}

				.txt_box {
					padding: 0 5px;
					margin-top: 20px;
					margin-bottom: 30px;
				}

				.img_box {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.youtube {
		.inner {
			.wrap {
				article {
					h2 {
						
					}
					.txt {
						
					}
					.img_box {
						
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.youtube {
		.inner {
			.wrap {
				article {
					h2 {
						
					}
					.txt {
						
					}
					.img_box {
						
					}
				}
			}
		}
	}
}






@include mobile {
	.youtube {
		.inner {
			.wrap {
				article {
					width: calc(100% - 6px);
				}
			}
		}
	}
}







// --------------------

.yout_pop {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0px;
	padding: 100px;
	z-index: 5;
	opacity: 0;
	transition: opacity 1s;

	&.on {
		opacity: 1;
	}

	.con {
		width: 100%;
		height: 100%;

		iframe,
		video,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border: none;
		}
	}

	.close {
		font: bold 14px/1 'arial';
		color: #fff;
		position: absolute;
		top: 30px;
		right: 50px;
		cursor: pointer;
	}
}