.line {
    text-decoration: line-through;
    color:#999;
    
}

.box {padding:0;}

.box > li{
    border: 1px solid #ddd;
    padding:5px;
    list-style: none;
    
}

.box > li:hover {
    transition: 1s all;
    background: #ddd;
}