$pc: 1200px;
$tablet: 1100px;
$mobile: 760px;

$blue: #4868e1;
$black: #222;
$white: #fff;
$gray: #ddd;
$dark_gray: #666;
$light_gray: #efefef;
$point: rgb(217, 24, 24);
$point2:rgb(251, 95, 33);
$btn_radius: 56px;


// font
$tit_1: #222;
$tit_2: #444;
$con_1: #555;
$con_2: #666;
$disabled: #999;



@mixin pc {
    @media screen and (max-width: $pc) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}


@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}




//common
@import "common/reset";
@import "common/common";
@import "common/fonts";
@import "common/header";
@import "common/footer";
@import "common/loading";
@import "common/popup";
@import "common/tab";
@import "common/button";
@import "common/input";
@import "common/bullet";

//main
@import "main/main_visual";
@import "main/main_sub_visual";
@import "main/main_evt_banner";
@import "main/main_load_banner";
@import "main/main_content";

// sub
@import "sub/sub_visual";
@import "sub/pages/sub";
@import "sub/pages/youtube";
@import "sub/pages/gallery";
@import "sub/pages/members";
@import "sub/pages/location";




