
$pc: 1200px;
$tablet: 1100px;
$mobile: 760px;

$blue: #4868e1;
$black: #222;
$white: #fff;
$gray: #ddd;
$dark_gray: #666;
$light_gray: #efefef;
$point: rgb(217, 24, 24);
$btn_radius: 56px;


// font
$tit_1: #222;
$tit_2: #444;
$con_1: #555;
$con_2: #666;
$disabled: #999;




@mixin pc {
    @media screen and (max-width: $pc) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}


@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}





@import 'common/reset';
@import 'common/header';
@import 'common/footer';

@import 'main/banner';
@import 'main/pics';
@import 'main/vids';
@import 'main/visual';

@import 'sub/communuty';
@import 'sub/contact';
@import 'sub/department';
@import 'sub/gallery';
@import 'sub/member';
@import 'sub/youtube';


